<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ .CSS }}">
  </head>
  <body>
    <header>
    <!-- nav -->
          <nav class="navbar navbar-expand-lg color">
            <div class="container-fluid">
              <a class="navbar-brand" href="/portal/">Portal</a>
              <div class="container-md">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="/portal/">Portal</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="/portal/projects/" >Projects</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="/portal/clients/">Clients</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="/portal/subscriptions/">Subscriptions</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="/portal/finances/">Finances</a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </nav>
        
    </header>

    <br>
    <main style="height: 100vh;">
        
    <div class="container-md">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary container-fluid" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create Project
        </button>

        <!-- form -->
        <form action="/portal/projects/create-project/" method="post">
            <!-- mode -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
    
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="test" value="testVal" id="createFromLead" checked>
                          <label class="form-check-label" for="createFromLead">
                            Checked checkbox
                          </label>
                        </div>                         
                          <div class="mb-3">
                              <label for="codename" class="form-label">Codename</label>
                              <input type="text" class="form-control" name="codename" id="codename">
                          </div>
                          <div class="mb-3">
                              <label for="statSelect">Select Status</label>
                              <select name="statSelect" id="statSelect" class="form-select" aria-label="Default select example">
                                <option selected></option>
                                {{ range .StatCodes }}
                                  <option value="{{ .ID }}">{{ .StatCode }}</option>
                                {{ end }}
                              </select>
                          </div>
                          <div class="mb-3">
                              <label for="clientSelect">Select Client</label>
                              <select name="clientSelect" id="clientSelect" class="form-select" aria-label="Default select example">
                                <option selected></option>
                                {{ range .Clients }}
                                  <option value="{{ .ID }}">{{ .Company }}</option>
                                {{ end }}
                              </select>
                          </div>
                          <div class="mb-3">
                              <label for="leadSelect">Select Lead</label>
                              <select name="leadSelect" id="leadSelect" class="form-select" aria-label="Default select example">
                                <option value=""></option>
                                {{ range .Leads}}
                                  <option value="{{ .ID }}">{{ .Company }}</option>
                                {{ end }}
                              </select>
                          </div>
                          <div class="mb-3">
                            <label for="projectCodename" class="form-label">Project Description</label>
                            <textarea class="form-control" id="projectCodename" name="projectCodename" rows="3"></textarea>
                          </div>
                          <div class="mb-3">
                              <label for="hourly" class="form-label">Hourly Rate</label>
                              <input type="text" class="form-control" name="hourly" id="hourly">
                          </div>
                          <div class="mb-3">
                              <label for="wholesale" class="form-label">Wholesale Price</label>
                              <input type="text" class="form-control" name="wholesale" id="wholesale">
                          </div>
                          <div class="mb-3">
                              <label for="totalTime" class="form-label">Total Time On Project</label>
                              <input type="text" class="form-control" name="totalTime" id="totalTime">
                          </div>
                          <div class="mb-3">
                              <label for="subscription" class="form-label">Subscription Price</label>
                              <input type="text" class="form-control" name="subscription" id="subscription">
                          </div>
                          
                      </div>
    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>
        <!-- end of form -->
        </form>
    </div>

        
    <div class="container-md">
       

        <!-- end of modal -->
        


    </main>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
