{% extends 'guru.html' %}

{% block navbar %}

<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary no-white">
  <div class="container-fluid cool-gray">

    <a class="navbar-brand" href="{{ url_for('guru.index') }}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('guru.index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('guru.tickets') }}">Tickets</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock navbar %}


{% block content %}


{% endblock content %}