{% extends "portal.html" %}
{% block navbar %}
<!-- start of navbar block -->
<div class="container-md">
  <nav class="navbar navbar-expand-lg color">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('portal.home') }}">Portal</a>
        <div class="container-md">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('portal.home') }}">Home</a>
              </li>
    
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('portal.projects') }}">Projects</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('portal.crm') }}">CRM</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('portal.leads') }}">Leads</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </nav>
</div>
<!-- navbar ends here -->
{% endblock navbar %}

{% block main%}
<!-- start of main block -->
<div class="container-lg">

  <!-- begin row -->
  <div class="row align-items-center">
      
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createLead">
      Create Lead
    </button>

    <!-- Modal -->
    <div class="modal fade" id="createLead" tabindex="-1" aria-labelledby="createLeadLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="createLeadLabel">Create Lead</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
            <form method="POST" action="{{ url_for('portal.leads') }}">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend class="border-bottom mb-4">{{ legend }}</legend>
                    
                    <div class="form-group">
                        {{ form.discovery_method.label(class='form-control-label') }}
                        {% if form.discovery_method.errors %}
                            {% for error in form.discovery_method.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.discovery_method(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                    <!-- company field -->
                    <div class="form-group">
                        {{ form.company.label(class='form-control-label') }}
                        {% if form.company.errors %}
                            {% for error in form.company.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.company(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>

                    <!-- contact field -->
                    <div class="form-group">
                        {{ form.contact.label(class='form-control-label') }}
                        {% if form.contact.errors %}
                            {% for error in form.contact.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.contact(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>

                    <!-- phone field -->
                    <div class="form-group">
                        {{ form.phone.label(class='form-control-label') }}
                        {% if form.phone.errors %}
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.phone(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>

                    <!-- email field -->
                    <div class="form-group">
                        {{ form.email.label(class='form-control-label') }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            {{ form.email(class='form-control form-control-lg') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                      {{ form.contacted.label(class='form-control-label') }}
                      {% if form.contacted.errors %}
                          {% for error in form.contacted.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      {% else %}
                          {{ form.contacted(class='form-control form-control-lg') }}
                      {% endif %}
                  </div>
                  <div class="form-group">
                    {{ form.converted.label(class='form-control-label') }}
                    {% if form.converted.errors %}
                        {% for error in form.converted.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.converted(class='form-control form-control-lg') }}
                    {% endif %}
                  </div>

                  <div class="form-group">
                    {{ form.comment.label(class='form-control-label') }}
                    {% if form.comment.errors %}
                        {% for error in form.comment.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.comment(class='form-control form-control-lg') }}
                    {% endif %}
                  </div>

                </fieldset>
                <div>
                    {{ form.submit(class='btn btn-primary') }}
                </div>
              </form>
            </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>      
    <!-- end of create lead modal -->

<br>
<br>
<br>

<div class="container-md">
  <div class="card container-fluid" style="width: 18rem;">
      <div class="card-header">
        Leads
      </div>
      <ul class="list-group list-group-flush">
        {% for l in leads %}
          <li class="list-group-item">{{ l.company }}</li>
        {% endfor %}
      </ul>
    </div>
</div>

<!-- end of main block -->
{% endblock main %}